
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<div class="container">
  
  <div class="row">
  
  <div class="col col-lg-12 col-sm-12 col-xs-12">
    
     <h1 class="h1" style="text-align:center">Add Product</h1>
    
    
    <form  action = '/addProduct' method = "post">
    
    <div  class="form-group">
      <input class="form-control" type = 'text' name = 'Title' placeholder = 'Title'><br>
      <input class="form-control" type = 'text' name = 'Price' placeholder = 'Price'><br>
   <textarea class="form-control" type = 'text' name = 'Description' placeholder = 'Description'></textarea><br>
      <input class="form-control" type = 'text' name = 'ImageMain' placeholder = 'Image Main'><br>
      <input class="form-control" type = 'text' name = 'SideImage' placeholder = 'Side Image'><br>
      <input class="form-control" type = 'text' name = 'BackImage' placeholder = 'Back Image'><br>
   
      <button class="btn btn-primary" style="width:100%" >Submit</button>
      </div>
      
    
</form>
    
  
  </div>
  
</div>
  
</div>




 
   
  
 