<title>T-shirt Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<div style="height:100px;background-color:black;text-align:center" class="row">
  <div class="col col-lg-12 col-sm-12 col-xs-12">
    <p style=" margin-top:25px;"><span style="font-family: 'Nunito', sans-serif;
                    font-size:25px;
                    color:white;
                    "><i style=' font-size:35px;' class="fa fa-truck" aria-hidden="true"></i> My Orders</span></p>

    
    
    
    <div style="margin-top:40px;">
      <%user.Orders.forEach(function(order){%>

   <div class="container">
     <div class="row">
       <div class="col col-lg-12 col-sm-12 col-xs-12">
         
         
  <div  class="row">
     <div class="col col-lg-0 col-sm-0 col-xs-1"> </div>
    <div style="height:280px;border:solid 1px white;text-align:center" class="col col-lg-3 col-sm-10 col-xs-10">
         <img src="<%=order.ProductImage%>" 
              style="height:100%;width:100%;" alt="">
    </div>
    
    <div class="col col-lg-0 col-sm-0 col-xs-1"> </div>
    
    <div class="col col-lg-3 col-sm-12 col-xs-12">
      <p><span style="font-family: 'Nunito', sans-serif;
                    font-size:15px;"><%=order.OrderName%></span><br>
        
      </p>
    </div>
    
    
       <div class="col col-lg-3 col-sm-12 col-xs-12">
      <p><span style="font-family: 'Nunito', sans-serif;
                    font-size:15px;"><%=order.Price%></span><br>
        
      </p>
    </div>
    
        <div class="col col-lg-3 col-sm-12 col-xs-12">
      <p>
        <span style="font-family: 'Nunito', sans-serif;
                    font-size:15px;"><%=order.PlacedOn.toDateString()%></span>
      </p>
    </div>
    
    
     </div>
         
         
       </div>
     </div>
    </div>
    


<%})%>
    
    </div>

      </div>
</div>