  <h2>
  Sign up for Ecommerce
</h2>
    
    <form  action = '/register' method = "post">
    
  
      
    <div class = "username">
       <input type = 'text' name = 'username' placeholder = 'Username'>
    </div>

 
    <div class = "password">
       <input type = 'password' name = 'password' placeholder = 'Password'>
    </div>
 
 <button class = 'ui medium green button' >Sign Up</button>
</form>
  
 
